<ul class='list-group'>
	{{#each stocks}}
		<li class='list-group-item'>
			<div class=''>
				{{stockTicker}} - Purchase by <span class="fst-italic">{{user.username}}</span> on {{format_date createdAt}}
			</div>

		</li>
	{{/each}}
</ul>
