<form class="form-floating" id='login-form'>
	<div class='mb-3'>
		<label for='username' class='visually-hidden form-label'>Username</label>
		<input type='username' class='form-control' id='username' placeholder="Username"/>
		<div class='form-text-lg'>We'll never share your email with anyone else.</div>
	</div>
	<div class='mb-3'>
		<label for='user-password' class='visually-hidden form-label'>Password</label>
		<input type='password' class='form-control' id='user-password' placeholder="Password"/>
	</div>
	<button type='submit' class='btn btn-primary'>Submit</button>
	<a class='nav-link text-light button' href='/signup'>Sign up instead</a>
</form>

<script src='./js/login.js'></script>
