:root {
	--sansSerif: sans-serif;
	--cursive: cursive;
	--dark: #00061c;
	--midnight: #012873;
	--black: #000000;
	--turquoise: #0bcad4;
	--red: #c30356;
	--fuchsia: #d63384;
	--light: #dff3f8;
}

/* main.handlebars */
body {
	background-color: var(--dark);
	color: var(--blue);
	font-family: var(--sansSerif);
	background-image: url(../assets/wall_bg.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}

.button {
	background-color: #0d6efd;
	border: none;
	border-radius: 3px;
	padding: 10px 10px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	cursor: pointer;
  }

.wrapper {
	margin-right: 10vw;
	margin-left: 5vw;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	/* push footer to the bottom of the page */
	margin-top: auto;
}

.navbar-custom .nav-link {
	font-family: var(--sansSerif);
	color: var(--black);
}

.navbar-custom .navbar-brand {
	font-family: var(--cursive);
	color: var(--black);
}

.navbar-custom .navbar-brand:hover {
	color: var(--turquoise);
}

